.cart-container {
    display: flex;
}

.imagePart {
    width: 30%;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;

}

.imagePart img {
    width: 100%;
}

.textPart {

    width: 70%;
}